.container{
  overflow: hidden;
  overflow-y: hidden;
}
.small-message{
  font-size: 12px;
}
.card-subtitle{
  font-size: 15px;
  font-weight: 400;
}
.bg-password{

  .card-title{
    color: #6359EC;
  }
  .bg{
    box-shadow:0px 0px 11px 1px rgba(208, 188, 241, 0.5);
    .required-star::after {
      content: '*';
      color: red;
      margin-right: 4px;
    }
  }
  // btn
  .buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
    .btn{
      padding: 0.6rem 1rem;
    }
    .btn-submit{
      background-color: #6359EC;
      color: white;
    }
  }
}