<div class="container bg-password">
  <div class="row justify-content-center pt-2">
    <div class="col-md-6 p-1">
      <div class="card pt-4 pb-4 bg">
        <div class="card-body p-4 px-5">
          <h6 class="card-title mb-4 text-center">Change Password</h6>
          <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <h6 class="card-subtitle mb-2 text-muted">Current Password</h6>
              <input type="password" class="form-control" formControlName="currentPassword" required>
            </div>
            <div class="mb-3">
              <h6 class="card-subtitle mb-2 text-muted">New Password</h6>
              <input type="password" class="form-control" formControlName="newPassword" required>
              <p class="text-muted m-3 mt-2 small-message">Password must be at least 8 characters and contain at least one uppercase letter, one lowercase letter, and one number.</p>
            </div>
            <div class="mb-3">
              <h6 class="card-subtitle mb-2 text-muted">Confirm New Password</h6>
              <input type="password" class="form-control" formControlName="confirmPassword" required>
            </div>
            <div class="buttons mt-4">
              <a [routerLink]="['/main/requests']" routerLinkActive="active" class="btn btn-secondary" type="button">Cancel</a>
              <button class="btn btn-submit" type="submit">Change Password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
