<div class="grid-head container pb-3">
<h3 mat-dialog-title>Create new inquiry</h3>
<div class="back-link">
  <a [routerLink]="'/users/' + id" routerLinkActive="active" class="back-link">
    <i class="fas fa-chevron-left"></i> Back
  </a>
</div>
</div>
<mat-dialog-content class="mat-typography">
  
  <form class="row g-3 p-4 pb-0">
    <div class="col-md-4">
      <label for="inputState" class="form-label">Category</label>
      <select id="inputState" class="form-select">
        <option selected>Choose...</option>
        <option>Human Resources</option>
        <option>Finance</option>
        <option>Marketing</option>
        <option>Operations</option>
        <option>Information Technology</option>
        <option>Customer Service</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">Category</label>
      <select id="inputState" class="form-select">
        <option selected>Choose...</option>
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">Category</label>
      <select id="inputState" class="form-select">
        <option selected>Choose...</option>
        <option>General Inquiry</option>
        <option>Technical Support</option>
        <option>Feature Request</option>
        <option>Bug Report</option>
        <option>Complaint</option>
        <option>Feedback</option>
      </select>
    </div>
    <div class="col-12">
      <label for="inputTitle" class="form-label">Title</label>
      <input type="text" class="form-control" id="inputTitle" placeholder="Enter Title">
    </div>
    <div class="col-12">
      <label for="inputText" class="form-label">Text</label>
      <textarea class="form-control" id="inputText" rows="5" placeholder="Enter Text"></textarea>
    </div>
    <div class="input-group mb-3">
      <input type="file" class="form-control" id="inputGroupFile02">
      <label class="input-group-text" for="inputGroupFile02">Upload</label>
    </div>
    <mat-dialog-actions class="d-flex justify-content-end">
      <button mat-fab extended class="btn btn-create text-light" mat-align="center">
      Create inquiries
    </button>
</mat-dialog-actions>
  </form>
</mat-dialog-content>



