<div class="grid-head container pb-3">
<h3 mat-dialog-title>Create new inquiry</h3>
<div class="back-link">
  <a [routerLink]="['/main/account','requests']" routerLinkActive="active" class="back-link">
    <i class="fas fa-chevron-left"></i> Back
  </a>
</div>
</div>
<mat-dialog-content class="mat-typography">
  
  <form [formGroup]="form" class="row form-padding g-3 p-3 pb-0">
    <div class="col-md-4">
      <label for="Category" class="form-label">Category</label>
      <select id="Category" class="form-select" formControlName="Category">
        <option selected>Human Resources</option>
        <option>Finance</option>
        <option>Marketing</option>
        <option>Operations</option>
        <option>Information Technology</option>
        <option>Customer Service</option>
      </select>

      <div *ngIf="submitted && form.get('Category')?.errors 
      || form.get('Category')?.invalid && (form.get('Category')?.dirty || form.get('Category')?.touched)" class="alert alert-danger">
        <div *ngIf="form.get('Category')?.errors?.['required']">Category is required.</div>
      </div>

    </div>
    <div class="col-md-4">
      <label for="Prioritet" class="form-label">Prioritet</label>
      <select id="Prioritet" class="form-select" formControlName="Prioritet">
        <option selected value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
      </select>
      <div *ngIf="submitted && form.get('Prioritet')?.errors 
      || form.get('Prioritet')?.invalid && (form.get('Prioritet')?.dirty || form.get('Prioritet')?.touched)" class="alert alert-danger">
        <div *ngIf="form.get('Prioritet')?.errors?.['required']">Prioritet is required.</div>
      </div>
    </div>
    <div class="col-md-4">
      <label for="Type" class="form-label">Request Type</label>
      <select id="Type" class="form-select" formControlName="Type">
        <option selected>General Inquiry</option>
        <option>Technical Support</option>
        <option>Feature Request</option>
        <option>Bug Report</option>
        <option>Complaint</option>
        <option>Feedback</option>
      </select>
      <div *ngIf="submitted && form.get('Type')?.errors 
      || form.get('Type')?.invalid && (form.get('Type')?.dirty || form.get('Type')?.touched)" class="alert alert-danger">
        <div *ngIf="form.get('Type')?.errors?.['required']">Type is required.</div>
      </div>
    </div>
    <div class="col-12">
      <label for="Title" class="form-label">Title</label>
      <input [ngClass]="{ 'is-invalid': submitted && form.get('Title')?.errors }" type="text" class="form-control" id="Title" formControlName="Title" placeholder="Enter Title">
        <div *ngIf="submitted && form.get('Title')?.errors 
        || form.get('Title')?.invalid && (form.get('Title')?.dirty || form.get('Title')?.touched)" class="alert alert-danger">
            <div *ngIf="form.get('Title')?.errors?.['required']">Title is required.</div>
            <div *ngIf="form.get('Title')?.errors?.['maxlength']">Title must be maximum 15 characters</div>
        </div>
    </div>
    <div class="col-12">
      <label for="Text" class="form-label">Text</label>
      <textarea [ngClass]="{ 'is-invalid': submitted && form.get('Text')?.errors }" class="form-control" id="Text" rows="5" formControlName="Text" placeholder="Enter Text"></textarea>
      <div *ngIf="submitted && form.get('Text')?.errors 
      || form.get('Text')?.invalid && (form.get('Text')?.dirty || form.get('Text')?.touched)" class="alert alert-danger">
        <div *ngIf="form.get('Text')?.errors?.['required']">Text is required.</div>
        <div *ngIf="form.get('Text')?.errors?.['maxlength']">Text must be maximum 100 characters</div>
    </div>
    </div>
    <div class="input-group mb-3">
      <input type="file" class="form-control" id="inputGroupFile02">
      <label class="input-group-text" for="inputGroupFile02">Upload</label>
    </div>
    <mat-dialog-actions class="d-flex justify-content-end">
      <p-toast
      [style.margin-top.px]="50"
      [showTransformOptions]="'translateY(100%)'"
      [showTransitionOptions]="'1000ms'"
      [hideTransitionOptions]="'1000ms'"
      [showTransformOptions]="'translateX(100%)'"
      ></p-toast>
      <button pButton pRipple mat-fab extended class="btn btn-create text-light clear" mat-align="center" routerLinkActive="router-link-active" (click)="addRequest()" [disabled]="isSubmitting">
        Create Request
      </button>
</mat-dialog-actions>
  </form>
</mat-dialog-content>



