.grid-head {
  display: grid;
  grid-template-columns: 20fr 1fr; 
  align-items: center; 
}
  .back-link{
    text-decoration: none;
    text-decoration-line: none;
    color: #6359EC;
  }
  .btn-create{
    background-color:#55539F;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    border-radius: 5px;
  }
  @media screen and (max-width: 768px){
    .mat-mdc-fab .mdc-button__label{
      display: none !important;
    }
    .form-padding{
      padding: 0rem !important;
    }
    .back-link{
      display: none;
    }
  }
  