<div class="back-link">
  <a [routerLink]="'/users/' + id" >
    <i class="fas fa-chevron-left"></i> Back
  </a>
</div>
<div class="container bg-password">
  <div class="row justify-content-center pt-2 ">
    <div class="col-md-6 p-1">
      <div class="card pt-4 pb-4 bg">
        <div class="card-body p-5">
          <h6 class="card-title mb-4 text-center">Change Password</h6>
          <form>
            <div class="mb-3">
              <h6 class="card-subtitle mb-2 text-muted" class="required-star">Current Password</h6>
              <input type="password" class="form-control" id="currentPassword">
            </div>
            <div class="mb-3">
              <h6 class="card-subtitle mb-2 text-muted" class="required-star">New Password</h6>
              <input type="password" class="form-control" id="newPassword">
              <p class="text-muted m-3 mt-2 small-message">Password must be at least 8 characters and contain at least one uppercase letter, one lowercase letter, and one number.</p>
            </div>
            <div class="mb-3">
              <h6 class="card-subtitle mb-2 text-muted" class="required-star">Confirm New Password</h6>
              <input type="password" class="form-control" id="confirmPassword">
            </div>
            <div class="buttons mt-4">
              <a [routerLink]="'/users/' + id" routerLinkActive="active" class="btn btn-secondary" type="button">Cancel</a>
              <button class="btn btn-submit" type="submit">Change Password</button>
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
