<div class="grid-head container pb-3" *ngFor="let card of filteredInquiries">
  <div class="title" >
    <div class="head">
      <h3 mat-dialog-title>{{card.ID}}</h3>
    <span class="align-middle small opacity-50 small">{{card.Category}}</span>
    </div>
    <div class="back-link">
       <a class="back-link">
           Status:{{card.Status}}
       </a>
    </div>
  </div>

  <ul class="list-group list-group-horizontal mb-3 p-3">
    <button id="requestButton" class="list-group-item d-flex justify-content-between align-items-center" (click)="toggleActive('requestButton')" [class.active]="activeItem === 'requestButton'">
      Request
    </button>
    <button id="commentButton" class="list-group-item d-flex justify-content-between align-items-center" (click)="toggleActive('commentButton')" [class.active]="activeItem === 'commentButton'" r="let comment of comments" >
      Comment
      <span class="badge">{{comments.length}}</span>
    </button>
    <button id="historyButton" class="list-group-item d-flex justify-content-between align-items-center" (click)="toggleActive('historyButton')" [class.active]="activeItem === 'historyButton'" >
      History
    </button>
    <button id="infoButton" class="list-group-item d-flex justify-content-between align-items-center" (click)="toggleActive('infoButton')" [class.active]="activeItem === 'infoButton'">
      Request information
    </button>
  </ul>
  <aside *ngIf="activeItem==='requestButton'">
<div class="grid-message">
  <div class="message">
    <img class="profile" src="../../../assets/profile.png" alt="profile">
    <div class="card">
       <div class="name">
        <div class="head">
          <h6>{{card.Executor}}</h6>
          <p>{{card.Sender}}</p>
       </div>
       <p class="small">{{card.Date}} / {{now}}</p>
      </div>
      <div>
        <h6>{{card.Title}}</h6>
        <p>{{card.Text}}
        </p>
      </div>
      <div class="button">
        <a class="btn btn-link" disabled>Connect</a>
        <div class="info">
          <p class="small">App New Requirement |&nbsp; </p>
          <p class="small">Medium</p>
        </div>
      </div>
    </div>
  </div>
  <div class="message reply-message mt-6" *ngFor="let comment of comments">
    <img class="profile" src="../../../assets/profile.png" alt="profile">
    <div class="card">
       <div class="name">
        <div class="head">
          <h6>{{userName}}</h6>
          <p class='text-secondary small'>{{userJob}}</p>
       </div>
       <p class="small">20/12/2023 / 12:00</p>
      </div>
      <div>
        <h6>{{comment.title}}</h6>
        <p>{{comment.text}}
        </p>
      </div>
    </div>
  </div>
</div>
<div class="last-side pt-4">
  <div class="password">
    <a href="#">
      <span class="icon">
        <i class="fas fa-print"></i>
      </span>
      Print...
    </a>
  </div>
<div class="buttons">
  <a [routerLink]="'/users/' + id" routerLinkActive="active" class="btn btn-secondary" type="button">Cancel</a>
      <button class="btn btn-submit" type="submit">Lock it</button>
</div>
</div>
</aside>

<div *ngIf="activeItem === 'commentButton'">
  <div class="message reply-message" *ngFor="let comment of comments">
    <img class="profile" src="../../../assets/profile.png" alt="profile">
    <div class="card">
       <div class="name">
        <div class="head">
          <h6>{{ userName }}</h6>
          <p class='text-secondary small'>{{ userJob }}</p>
        </div>
        <p class="small">{{ now }}</p>
      </div>
      <div>
        <h6>{{ comment.title }}</h6>
        <p>{{ comment.text }}</p>
      </div>
    </div>
  </div>
  <form class="comment-form mt-5 mb-3" [formGroup]="form" >
    <!-- Form inputs with formControlName -->
    <div class="align-items-left mb-3">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" formControlName="title" required>
    </div>
    <div class="comment">
      <label for="text">Comment</label>
      <input type="text" class="form-control" id="text" formControlName="text" required>
    </div>
    <!-- Other form elements -->
    <div class="input-group mt-4 mb-5">
      <input type="file" class="form-control" id="upload">
      <label class="input-group-text" for="upload">Upload</label>
    </div>
    <div class="buttons">
      <button mat-fab extended class="btn btn-submit" mat-align="center" routerLinkActive="router-link-active"  (click)="addComment()">
        Submit
      </button>
    </div>
  </form>

</div>


<div *ngIf="activeItem === 'historyButton'">
  <div class="card card-history p-3 mb-3">
    <div class="name">
      <img class="profile" src="../../../assets/profile.png" alt="profile">
      <div class="head">
          <h6 class="m-0 mb-1">{{card.Executor}}</h6>
          <p class="m-0 opacity-50 small">{{card.Category}}</p>
      </div>
    </div>
    <div class="vertical-line">
      <div class="line"></div>
      <p class="m-0">Create new request</p>
    </div>
      <p class="small m-0">{{card.Date}} / {{now}}</p>
  </div>
  <div class="card card-history p-3 mb-3">
    <div class="name">
      <img class="profile" src="../../../assets/profile.png" alt="profile">
      <div class="head">
          <h6 class="m-0 mb-1">{{card.Executor}}</h6>
          <p class="m-0 opacity-50 small">{{card.Category}}
          </p>
      </div>
    </div>
    <div class="vertical-line">
      <div class="line"></div>
      <p class="m-0">Create new request</p>
    </div>
      <p class="small m-0">{{card.Date}} / {{now}}</p>
  </div>
  <div class="card card-history p-3 mb-3">
    <div class="name">
      <img class="profile" src="../../../assets/profile.png" alt="profile">
      <div class="head">
          <h6 class="m-0 mb-1">{{card.Executor}}</h6>
          <p class="m-0 opacity-50 small">{{card.Category}}</p>
      </div>
    </div>
    <div class="vertical-line">
      <div class="line"></div>
      <p class="m-0">Create new request</p>
    </div>
    <p class="small m-0">{{card.Date}} / {{now}}</p>
  </div>
</div>

<div *ngIf="activeItem === 'infoButton'">
  <form class="row g-3">
    <div class="col-md-6">
      <label for="inputState" class="form-label">State</label>
      <select id="inputState" class="form-select">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="inputState" class="form-label">State</label>
      <select id="inputState" class="form-select">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>

    <div class="col-12">
      <label for="inputAddress" class="form-label">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="col-12">
      <label for="inputAddress2" class="form-label">Address 2</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-md-12">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1">Application Development</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">Application Development</label>
      </div>
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword4">
  </div>
  <div class="col-md-12">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
      <label class="form-check-label" for="inlineRadio1">Email</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
      <label class="form-check-label" for="inlineRadio2">Phone</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
      <label class="form-check-label" for="inlineRadio2"> Request</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
      <label class="form-check-label" for="inlineRadio2">Request</label>
    </div>
</div>
<div class="col-12">
  <label for="inputAddress" class="form-label">Address</label>
  <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
</div>
<div class="col-12">
  <label for="inputAddress2" class="form-label">Address 2</label>
  <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
</div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Routine
        </label>
      </div>
    </div>
    <div class="col-12">
      <div class="buttons">
        <button class="btn btn-submit" type="submit">Send</button>
      </div>
    </div>
  </form>
</div>
<p class="copyright pt-2" disabled>Copyright &copy; CIC LLC</p>
</div>
