<nav class="navbar fixed-top bg-body-tertiary">
  <div class="container-own container-fluid">
    <img src="/assets/logocolorful.png" alt="logocic">
    <form class="d-flex" role="search">
      <i class="fas fa-user"></i>
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{name}}
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Profil</a></li>
          <li><a class="dropdown-item" href="#">Change your password</a></li>
          <li><a class="dropdown-item" href="#">Log out</a></li>
        </ul>
      </div>
    </form>
  </div>
</nav>
