<div class="container pb-3">
  <div class="grid-head">
    <h3 mat-dialog-title>Profile</h3>
  </div>
    <div class="profile pt-3">
      <div class="image-side">
        <div class="image">
          <div class="photo">
             <img src="../../../assets/profile.png" alt="profile">
          </div>
        <a href="#" class="icon-link">
          <i class="fas fa-edit"></i> Change image
        </a>
        <a href="#" class="icon-link">
          <i class="fas fa-trash"></i> Delete image
        </a>
        
        </div>
        <div class="info pt-2">
          <p>Allowed file types: png, jpg, jpeg.</p>
        </div>
      </div>
      <form class="form">
        <div class="inputs">
          <div class="col-12">
            <label for="inputDepartment" class="form-label">Department</label>
            <input type="text" class="form-control" id="inputDepartment" placeholder="Enter Title">
          </div>
          <div class="col-12">
            <label for="inputMission" class="form-label">Mission</label>
            <input type="text" class="form-control" id="inputMission" placeholder="Software Consultant">
          </div>
          <div class="col-12">
            <label for="inputInternal" class="form-label">Internal Telephone</label>
            <input type="text" class="form-control" id="inputInternal" placeholder="12345">
          </div>
          
          <div class="col-12">
            <label for="inputMobile" class="form-label">Mobile Telephone</label>
            <input type="text" class="form-control" id="inputMobile" placeholder="+994 50 000 00 00">
          </div>
        </div>
        <div class="permission">
          <mat-slide-toggle checked>Allow for notification!</mat-slide-toggle>
        </div>
        <div class="last-side pt-4">
          <div class="password">
            <a href="#">
              <span class="icon">
                <i class="fas fa-lock"></i> 
              </span>
              Change Password
            </a>
          </div>
        <div class="buttons">
          <a [routerLink]="'../inquiries'" routerLinkActive="active" class="btn btn-secondary" type="button">Cancel</a>
              <button class="btn btn-submit" type="submit">Update</button>
        </div>
        </div>
      </form>
    </div>
    <p class="copyright pt-2" disabled>Copyright &copy; CIC LLC</p>
  </div>

  
  
  
  