<ul class="nav flex-column gap-3">
    <li class="nav-item ">
      <a [routerLink]="['/main/account','requests']" routerLinkActive="active" class="icon-link text-decoration-none gap-3">
        <i class="fa-regular fa-file"></i>
        Requests 
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/main/account', 'reports']" routerLinkActive="active" class="icon-link text-decoration-none gap-3" href="#">
        <i class="fa-solid fa-chart-line"></i>
        Reports
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/main/account', 'profile']"  routerLinkActive="active" class="icon-link text-decoration-none gap-3">
        <i class="fa-regular fa-user"></i>
        Profil
    </a>    
    </li>
  </ul>
