.icon-link {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: flex; 
  align-items: center;
  color: white;
  font-weight: normal;
  transition: color 0.3s;

  opacity: 80%;
  &.active {
    opacity: 100%;

    i {
      color:#00ff00; 
    }
  }
  i {
    background-color: #6a69a8;
    border-radius: 5px;
    padding: 12px;
    transition: color 0.3s;
  }
}

@media screen and (max-width: 390px){
  .nav{
    display: flex;
    flex-direction: row !important;
    gap: 100px !important;
  }
  .icon-link {
    width: 20px;
    height: 20px;
    i {
      padding: 8px;
    }
  }
}