<ul class="nav flex-column gap-3">
    <li class="nav-item">
      <a [routerLink]="['/main/users', id, 'inquiries']" routerLinkActive="active" class="icon-link text-decoration-none gap-3">
        <i class="fas fa-file"></i>
        Inquiries 
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/main/users', id, 'inquiries']" class="icon-link text-decoration-none gap-3" href="#">
        <i class="fas fa-flag"></i>
        Reports
      </a>
    </li>
    <li class="nav-item">
      <a [routerLink]="['/main/users', id, 'profile']" routerLinkActive="active" class="icon-link text-decoration-none gap-3">
        <i class="fas fa-user"></i>
        Profil
    </a>    
    </li>
  </ul>
